build/
build/web/WEB-INF/classes/beans/
web/WEB-INF/.LCKweb.xml~
dist/
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/private/
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/project.xml
nbproject/faces-config.NavData
lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
nbproject/project.properties
